/* I changed the margin of an element. */
<div class="box yellow-box">
  <h5 class="box red-box">padding</h5>

  <h5 class="box blue-box">padding</h5>
</div>
.blue-box {
   background-color: blue;
   color: #fff;
   padding: 20px;
   margin: 20px;
