/* I attached a fallback value to a CSS variable. */
</div>
</div> */
/ .penguin {
  --penguin-skin: black;
  position: relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  width: 300px;
  height: 300px;
}

.penguin-top {
  top: 10%
left: 25%;

  /* change code below */
  background: var(--pengiun-skin, black);
  /* change code above */
 --penguin-skin: black;
 position: relative;
 margin: auto;
 display: block;
 margin-top: 5%;
 width: 300px;
 height: 300px;
}

  width: 50%;
  height: 45%;
  border-radius: 70% 70% 60% 60%;
}
.penguin-top {
 top: 10%
left: 25%; */

 / change code below */
 / background: var (--pengin-skin, black); */
 /change code above */
 /
 width: 50%;
 height: 45%;
 border-radius: 70% 70% 60% 60%;
}

.penguin-bottom {
  --pengiun-skin: black;
  top: 40%;
  left: 23.5%; */
.penguin-bottom {
 Background: var (--pengiun-skin: black;
 top: 40%;
 left: 23.5%; */
